<%= link_to('Back to List', posts_path, class: 'back-link') %>

<div class="model show">
  <h2>Show post</h2>

  <div class="actions">
    <%= link_to('Edit', edit_post_path(@post), class: 'action edit') %>
    <%= link_to('Delete', delete_post_path(@post), class: 'action delete') %>
  </div>

  <table class="detail-view" summary="Post detail view">
    <tr>
      <th>Title</th>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <th>Body</th>
      <td><%= @post.body %></td>
    </tr>
    <tr>
      <th>Liked</th>
      <td><%= @post.liked? ? 'Yes' : 'No' %></td>
    </tr>
    <tr>
      <th>Category</th>
      <td><%= @post.category&.name || '-' %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @post.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @post.updated_at %></td>
    </tr>
  </table>
</div>