<%= link_to('Back to Homepage', {controller: 'main', action: 'index'}, class: 'back-link') %>

<div class="model index">
  <h2>Categories</h2>

  <%= link_to('Add New Category', new_category_path, class: 'action new') %>

  <table class="listing" summary="Category list">
    <thead>
    <tr class="header">
      <th>Name</th>
      <th>Number of Posts</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.posts.count %></td>
        <td class="actions">
          <%= link_to('Show', category_path(category), class: 'action show') %>
          <%= link_to('Edit', edit_category_path(category), class: 'action edit') %>
          <%= link_to('Delete', delete_category_path(category), class: 'action delete') %>
        </td>
      </tr>
      <% if category.posts.any? %>
        <tr>
          <td colspan="3">
            <ul class="category-posts">
              <% category.posts.each do |post| %>
                <li>
                  <strong><%= link_to post.title, post_path(post), class: 'post-link' %></strong>
                  - <%= truncate(post.body, length: 100) %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>